<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Featured Listings</h2>
    <div class="listing-container">

        <% objArr.forEach((obj, i) => { %>
            <% 
                const isbn = obj.isbn;
                const name = obj.name;
                const author = obj.author;
                const price = obj.price;
                const coverImage = obj.coverImage;
            %>
            <div class="item-listing" name="item-listing">
                <div class="cover-img-div"> <img src="<%= coverImage %>" alt="<%= name %>"/> </div>
                <div> <p> <%= isbn %> </p> <h3> <%= name %> </h3> </div>
                <div> <h5> by <%= author %> </h5> </div>
                <div> <p> Price: $<%= price %> </p></div>        
                <form name="add-cart-form" method="POST" action="api/add-cart/<%= isbn %>">
                    <input type="number" id="<%= isbn %>-quantity" name="quantity" value="1"/>
                    <button type="submit">Add to Cart</button>
                </form>
                    
            </div>
        <% }); %>
    </div>
</body>
</html>